.service {background: black;}


.card_item {background: #d7d7d7;} 
.des {text-align: center;font-weight: bold;color: #2626ff;text-transform: capitalize;}

.paragrap {text-align: center;font-size: 40px;font-weight: bold;color: #5252f1;} 
.service {
    margin-top: 71px; 
    padding: 20px 12px;
} 
.provide_ser {
    padding: 10px;
    color: #dfdfdf;
    text-transform: capitalize;
} 