.recentWork a {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}  
.ul li {
    list-style: noe;
    font-size: 30px;
    font-weight: bold;
    color: rebeccapurple;
} 
.row.protfolio {margin-top: 20px;background: #ebebeb;}



.ul a {font-size: 30px;text-decoration: none;font-weight: bold;color: black;margin: 10px;} 
.best_works a {
    font-size: 30px;
    text-decoration: none;
}